.Input input {
  display: block;
  width: 100%;
  padding: 14px 20px;
  padding-left: 52px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #494c6b;
  background: #ffffff;
  transition: all 0.3s;
}

[data-theme="Dark"] .Input input {
  background: #25273d;
  color: #c8cbe7;
}
@media (min-width: 580px) {
  .Input input {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: -0.25px;
    padding: 23px;
    padding-left: 72px;
    color: #393a4b;
  }
}
