.TodoListInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.TodoListInfo p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #9495a5;
}

.TodoListInfo .TodoListInfoClearBtn {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  letter-spacing: -0.166667px;
  color: #9495a5;
  outline: none;
  border: none;
  background: none;
}

.TodoListInfo button:hover {
  color: #494c6b;
}

@media (min-width: 580px) {
  .TodoListInfo {
    padding: 16px 24px;
  }
  .TodoListInfo p {
    font-size: 14px;
    line-height: 14px;
    min-width: 102px;
  }
  .TodoListInfo .TodoListInfoClearBtn {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }
}
