.Header {
  min-height: 200px;
  background: url(../../../public/images/bg-mobile-light.jpg) no-repeat center;
  background-size: cover;
  padding-top: 48px;
}

.Title {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 40px;
  color: white;
  letter-spacing: 5px;
  font-weight: 700;
}

.HeaderContainer {
  position: relative;
}

.ModeBtn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0px;
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background: url("../../../public/images/icon-moon.svg") no-repeat center;
  background-size: contain;
}

@media (min-width: 580px) {
  .Header {
    min-height: 300px;
    background-image: url(../../../public/images/bg-desktop-light.jpg);
    padding-top: 70px;
  }
  .Title {
    font-size: 40px;
    line-height: 40px;
  }
  .ModeBtn {
    width: 26px;
    height: 26px;
  }
}
