.Header {
  border: 1px solid red;
  min-height: 200px;
  background-image: url(../../../public/images/header_mobile.png);
}

.Title {
  font-size: 30px;
  line-height: 1;
  margin-top: 48px;
  margin-bottom: 40px;
  color: white;
  letter-spacing: 5px;
  font-weight: 700;
}

.HeaderContainer {
  position: relative;
}

.ModeBtn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0px;
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  background: url("../../../public/images/icon-moon.svg") no-repeat center;
  background-size: contain;
}
