.TodoItem {
  padding-bottom: 0px;
  transition: all 0.1s;
  cursor: grab;
}
.TodoItemContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #e3e4f1;
  background: white;
}

.Draged {
  opacity: 0.5;
}

.DragOver > div {
  padding-bottom: 60px;
  transition: all 0.1s;
}
.DragOverReverce > div {
  padding-top: 60px;
  transition: all 0.1s;
}

.TodoItem:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.TodoItem p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: #494c6b;
  margin: 0px;
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 12px;
}

.TodoItem button {
  font-size: 0px;
  line-height: 0px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("../../../../public/images/icon-cross.svg") center no-repeat;
  background-size: cover;
  outline: none;
  border: none;
}
