@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

.App {
  font-family: "Josefin Sans", sans-serif;
  background: #f2f2f2;
  padding-bottom: 50px;
  min-height: 100vh;
  transition: all 0.2s;
}

[data-theme="Dark"] {
  background: #171823;
}

button {
  cursor: pointer;
}

.CreateNewTodoFormContainer {
  position: relative;
  top: -99px;
}

.TodoListContainer {
  position: relative;
  top: -72px;
}

.FilterContainer {
  position: relative;
  top: -40px;
}

.FooterContainer {
  position: relative;
  top: 0px;
}

@media (min-width: 580px) {
  .CreateNewTodoFormContainer {
    position: relative;
    top: -147px;
  }

  .TodoListContainer {
    top: -103px;
  }

  .FooterContainer {
    position: relative;
    top: -80px;
  }
}
